<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.natillera_app">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application>
        <activity
            android:name=".MainActivity"
            android:exported="true"> <!-- Establece el valor de exported según tus necesidades -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="io.supabase.flutterquickstart"
                    android:host="login-callback" />
            </intent-filter>
        </activity>
    </application>
</manifest>
